.progress {
  margin: 20px 0;
}

.progressBar-bg {
  background: gray;
}

.progressBar {
  height: 15px;
  background: white;
}

.progress__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
