.home {
  font-size: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.home__flex {
  font-size: 50px;
  display: flex;
  align-items: center;
}

.home p {
  margin-right: 15px;
}

@media (max-width: 600px) {
  .home {
    font-size: 40px;
  }
  .home__flex {
    font-size: 30px;
  }
}

@media (max-width: 385px) {
  .home__flex {
    font-size: 20px;
  }
}
